# Ignore Python virtual environment
venv/
.venv/
env/
.odds-classification-deps/

chrome-win64/
*.dll

OldStuff/

Sports_betting.ipynb
ufc_strat.ipynb

.vscode/

ModelStrategy/LogisticRegression/AutogluonModels/
